#accademicSkills {
   padding: 1rem;
   margin: 0.5rem ;
   background-color: rgb(250, 250, 250);
   border-radius: 0.5rem;
   box-shadow: 1px 1px 3px var(--light-tone);
}

.accademicSkills {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1em;
}

.accademicSkills ul {
   font-size: 0.9rem;
   padding: 0 2.5em 0.5em 2.5em ;
   list-style:square; 
 
}
.accademicSkills ul li{
   padding: 0.5rem 1rem;
}

@media (max-width: 680px){
   .accademicSkills {
      grid-template-columns: 1fr ;
      gap: 0;
   }
}